
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");

body #bg {
    background: radial-gradient( ellipse at center, rgb(199, 147, 244), rgb(115, 80, 161), rgb(55, 19, 84) );
    width: 100%;
    height: 100vh;
    font-family: 'Nanum Gothic Coding', monospace;
    font-family: 'Raleway', sans-serif;
    align-items: center;
  
}

.form-div{
    margin-top: 10vh;
    margin-left: 35%; 
    position: absolute;
    display: grid;
    align-items: center;
    width: 40vh;
    height: 50vh;
    background-color: white;
    border-radius: 40px;
    opacity: 80%;
    font-weight: bold;

}

.form-div .entry{
    align-items: center;
    margin-left: 2vh;
    padding-top: 12vh;
}

.form-div .entry .e1{
    align-items: center;
    margin-left: 2vh;
    padding-bottom: 3vh;

}

.form-div .e2{
    margin-left: 3vh;
    padding-bottom: 0vh;
}
label{
    padding-left: 1vh;
    padding-top: 20vh;
    margin-left: 10px;
    
}
.form-div .register-q{
    width: 25vh;
    height: 2vh;
    align-items: center;
    margin-top: 0vh;
    margin-bottom: 10vh;
    margin-left: 5vh;
    font-size: 13px;
}

.submit{
    background-color: black;
    color: white;
    width: 15vh;
    height: 3vh;
    border-radius: 40px;
    align-items: center;
    margin-left: 2vh;

}
.submit:hover{
    background-color: rgb(55, 19, 84) ;
    width: 15vh;
    height: 5vh;
    border-radius: 40px;
    align-items: center;
}

input{
    border-radius: 20px;
    max-width: 50vh;
    margin-left: 10px;
    position: relative;
    align-items: center;
    
}

a{
    text-decoration: none;
}