#main-bg {
  /*background: radial-gradient( ellipse at center, rgb(199, 147, 244), rgb(115, 80, 161), rgb(55, 19, 84) );*/
  background: linear-gradient(
    140deg,
    rgb(248, 243, 253) 10.9%,
    rgb(223, 207, 255) 27.8%,
    rgb(159, 134, 188) 101.7%
  );
  width: 100%;
  height: 100vh;
  font-family: "Nanum Gothic Coding", monospace;
  font-family: "Raleway", sans-serif;
}

.users-table {
  overflow-x: auto;
  width: 100vh;
  /* the following lines center div*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.btn-wrapper-table {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
/* CSS */
.button-6 {
  align-items: center;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1;
  margin-bottom: 1vh;
  min-height: 1rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-6:hover,
.button-6:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.button-6:hover {
  transform: translateY(-1px);
}

.button-6:active {
  background-color: #f0f0f1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}
table {
  width: 100%;
  border-collapse: collapse;
}
thead {
  height: 5vh;
  color: white;
  background-color: rgb(126, 91, 155);
  border-bottom: 4px solid #ddd;
}

td {
  height: 50px;

  padding: 15px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

tr:hover {
  background-color: rgb(126, 91, 155);
  color: white;
}

tr:nth-child(even) {
  /* background-color: rgb(185, 160, 206);*/
}

.search-bar {
  margin-bottom: 1vh;
  width: 97vh;
  height: 3vh;
}
