#main-bg {
  /*background: radial-gradient( ellipse at center, rgb(199, 147, 244), rgb(115, 80, 161), rgb(55, 19, 84) );*/
  background: linear-gradient(
    140deg,
    rgb(248, 243, 253) 10.9%,
    rgb(223, 207, 255) 27.8%,
    rgb(159, 134, 188) 101.7%
  );
  width: 100%;
  height: 100vh;
  font-family: "Nanum Gothic Coding", monospace;
  font-family: "Raleway", sans-serif;
}

.users-table {
  overflow-x: auto;
  width: 100vh;
  /* the following lines center div*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

table {
  width: 100%;
  border-collapse: collapse;
}
thead {
  height: 5vh;
  color: white;
  background-color: rgb(126, 91, 155);
  border-bottom: 4px solid #ddd;
}

td {
  height: 50px;

  padding: 15px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

tr:hover {
  background-color: rgb(126, 91, 155);
  color: white;
}

tr:nth-child(even) {
  /* background-color: rgb(185, 160, 206);*/
}
