@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");

#bg {
  /*background: radial-gradient( ellipse at center, rgb(199, 147, 244), rgb(115, 80, 161), rgb(55, 19, 84) );*/
  background: linear-gradient(
    150deg,
    rgb(248, 243, 253) 10.9%,
    rgb(223, 207, 255) 27.8%,
    rgb(159, 134, 188) 101.7%
  );
  width: 100%;
  height: 100vh;
  font-family: "Nanum Gothic Coding", monospace;
  font-family: "Raleway", sans-serif;
}

.form1 {
  margin-top: 10vh;
  margin-left: 35%;
  position: absolute;
  display: grid;
  align-items: center;
  width: 40vh;
  height: 50vh;
  background-color: white;
  border-radius: 40px;
  opacity: 80%;
  font-weight: bold;
}

.form1 .entry {
  align-items: center;
  margin-left: 2vh;
  padding-top: 12vh;
}

.form1.entry .l {
  position: relative;
  width: 100vh;
}
.form1 .entry input {
  border-radius: 20px;
  max-width: 200vh;
}
.form1 .login {
  width: 25vh;
  height: 2vh;
  align-items: center;
  margin-top: 1vh;
  margin-bottom: 10vh;
  margin-left: 3vh;
  font-size: 13px;
}

.reg-btn {
  margin-top: 1vh;
  margin-bottom: 10vh;
  margin-left: 3vh;
  background-color: black;
  color: white;
  border-radius: 40px;
  width: 20vh;
  position: absolute;
  align-items: center;
}

::placeholder {
  font-family: "Nunito", sans-serif;
}

a {
  text-decoration: none;
}
